In [1]:
# Tips Dataset Analysis

In [10]:
import seaborn as sns
import pandas as pd

tips = sns.load_dataset("tips")
# get a look at data
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [8]:
tips.shape
# 244 rows and 7 columns

(244, 7)

In [11]:
list(tips)
# shows us column names

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [16]:
tips.describe()
# count tells us no missing data

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [19]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [21]:
bill = tips.sort_values("total_bill", ascending = False)
bill.head(20)
# biggest spenders seem to be male and at dinner

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
102       44.30   2.50  Female    Yes   Sat  Dinner     3
197       43.11   5.00  Female    Yes  Thur   Lunch     4
142       41.19   5.00    Male     No  Thur   Lunch     5
184       40.55   3.00    Male    Yes   Sun  Dinner     2
95        40.17   4.73    Male    Yes   Fri  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
207       38.73   3.00    Male    Yes   Sat  Dinner     4
112       38.07   4.00    Male     No   Sun  Dinner     3
56        38.01   3.00    Male    Yes   Sat  Dinner     4
238       35.83   4.67  Female     No   Sat  Dinner     3
11        35.26   5.00  Female     No   Sun  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
52        34.81   5.20  Female     No   Sun  Dinner     4
180       34.65   3.68    Male    Yes   Sun  Dinner     4
179       34.63   3.55    Male    Yes   Sun  Dinner     2

In [23]:
tiptotal = tips.sort_values("tip", ascending = False)
tiptotal.head(20)
# also biggest tipper seem to be male and at dinner

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
214       28.17   6.50  Female    Yes   Sat  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
47        32.40   6.00    Male     No   Sun  Dinner     4
239       29.03   5.92    Male     No   Sat  Dinner     3
88        24.71   5.85    Male     No  Thur   Lunch     2
181       23.33   5.65    Male    Yes   Sun  Dinner     2
44        30.40   5.60    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
172        7.25   5.15    Male    Yes   Sun  Dinner     2
155       29.85   5.14  Female     No   Sun  Dinner     5
116       29.93   5.07    Male     No   Sun  Dinner     4
39        31.27   5.00    Male     No   Sat  Dinner     3
142       41.19   5.00    Male     No  Thur   Lunch     5

In [28]:
tips.sex
tips["sex"].value_counts()
# more males than females

Male      157
Female     87
Name: sex, dtype: int64

In [30]:
tips["size"].nunique()
# 6 sizes of tables

6